/*@@author A0139938L */
.title-text{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-font-family: "Tahoma, Geneva, sans-serif";
    -fx-font-weight: bold;    
}

.title-container{
	-fx-background-color: #37474fff;
}

.background{
	-fx-background-color: white;	
}

#taskTypeText{
    -fx-font-size: 8pt;
    -fx-font-family: "Tahoma, Geneva, sans-serif";
    -fx-opacity: 0.5;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Tahoma, Geneva, sans-serif";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Tahoma, Geneva, sans-serif";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Tahoma, Geneva, sans-serif";
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent #f6f6f6 transparent #f6f6f6;
    -fx-background-color: transparent, derive(#f6f6f6, 10%);
}

.split-pane {
    -fx-background-color: derive(#f6f6f6, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.cell_big_label {
	-fx-font-family: "Tahoma, Geneva, sans-serif";
    -fx-font-size: 14px;
    -fx-text-fill: #010504;
    -fx-font-weight: bold;
}

.cell_index_label {
    -fx-font-size: 18px;
    -fx-text-fill: #969696;
}

.cell_small_label_start_date {
    -fx-font-size: 14px;
    -fx-text-fill: #56adff;
}
.cell_small_label_end_date {
    -fx-font-size: 14px;
    -fx-text-fill: #d55454;
}

.chat-display {
    -fx-height: 100%;
    -fx-width: 100%;
}

.chat-display .label {
    -fx-text-fill: #1d1d1d;
}

.menu .left-container {
    -fx-background-color: black;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#f6f6f6, 50%);
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 4 1 4;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 4 1 4 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 0 0 1 1;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 5;
}

#tags .label {
    -fx-text-fill: black;
    -fx-background-color: #CFF48D;
    -fx-border-color: #c6c6c6;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#chat-list-view .list-cell:even {
	-fx-background-color: transparent;
}
#chat-list-view .list-cell:odd {
	-fx-background-color: transparent;
}
#chat-list-view{
	-fx-background-image: url("../images/chat-background.jpg");
	-fx-background-position: top center;
}
